body {
    font-family: Arial, Helvetica, sans-serif;
    /* text-align: center; */
   
}

h2{
    padding-left: 30px;
}

.form-container {
    border: 2px solid lightgray;
    height: 400px;
    width: 350px;
    margin-left: 36%;
    margin-top: 7%;
}

input {
    width: 85%;
    height: 25px;
}
.login {
    padding-bottom: 30px;
    padding-left: 30px;
}

.password {
    padding-left: 30px;
}

.inputbox {
    padding-top: 15px;
   
}

.bottom-container {
    font-size: 10px;
    text-align: center;
}