body {
    font-family: Arial, Helvetica, sans-serif;
    /* text-align: center; */
    color: darkgray;
   
}

h2{
    padding-left: 30px;
    color: black;
}

input {
    width: 85%;
    height: 25px;
    color: darkgrey;
}

p {
    /* padding-left: 30px; */
    color: blue;
    font-size: 12px;
}

span{
    padding-left: 127px;
    color: blue;
}

a {
    padding: 7px;
}
h5 {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 28%;
    text-align: center;
    color: darkgrey;
    font-size: 15px;
    max-width: 600px;
    position: relative;
  }

/* h5 {
    font-family: sans-serif;
    margin: 100px auto;
    text-align: center;
    color: black;
    font-size: 15px;
    max-width: 600px;
    position: relative;
  } */
  /* h5:before {
    content: "";
    display: block;
    width: 150px;
    height: 5px;
    background: darkgrey;
    left: 85px;
    top: 50%;
    position: absolute;
  }
  h5:after {
    content: "";
    display: block;
    width: 150px;
    height: 5px;
    background: darkgrey;
    right: 85px;
    top: 50%;
    position: absolute;
  } */

  .help{
    padding-left: 30px;
}

.form-container {
    border: 2px solid lightgray;
    height: 375px;
    width: 350px;
    margin-left: 37%;
    margin-top: 7%;
}

.favorite-styled {
    width: 85%;
    height: 25px;
    text-align: center;
    /* padding-top: 40px; */
    width: 350px;
    margin-left: 37%;
    margin-bottom: 40px;
}

.create {
    width: 90%;
}

.login {
    padding-bottom: 30px;
    padding-left: 30px;
    font-size: 12px;
}

.password {
    padding-left: 30px;
    font-size: 12px;
}

.forpassword{

}

.inputbox {
    padding-top: 10px;
    
}

.submit {
    padding-left: 30px;
    padding-top: 20px;
    width: 95%;
    height: 25px;
    
}

input[type=submit] {
    width: 85%;
    height: 27px;
    background-color: #FFD700;
    color: black;
    /* padding: 14px 20px; */
    /* margin: 8px 0; */
    border: solid 2px darkgrey;
    border-radius: 0px;
    cursor: pointer;
  }

/* .contbutton{
    height: 25px;
} */

.bottom-container {
    padding-top: 30px;
    font-size: 10px;
    text-align: center;
}